<%- include('partials/header') -%>


  <section class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img src="imgs/draft.png"
          class="img-fluid" alt="Sample image">
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
      
          <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
            <p class="lead fw-normal mb-0 me-3">Draft Easily with <b style="color:seagreen"> Eazydraft</b></p>
             </div>
          <div class="divider d-flex align-items-center my-4">
            <p class="text-center fw-bold  mb-0 mr-4">Get your contract and agreements ready in seconds.</p>
          </div>

          <div class="mb-4">
            <p><small>Select your desired contract template, fill the required information, submit and download your contract</small></p>
           </div>
               

          <div class="text-center text-lg-start mt-4 pt-2">
            <button type="button" class="btn btn-success btn-lg"
              style="padding-left: 2.5rem; padding-right: 2.5rem;">Learn More</button>
      </div>

      <div class=" justify-center mb-6">
        <p class="text-sm font-semibold mt-2 pt-1 mb-0">
          Already have an Eazydraft Account?
          <a
            href="/login"
            class="text-red-600 hover:text-red-700 focus:text-red-700 transition duration-200 ease-in-out"
            >Sign In</a
          >
        </p>
      </div>

    </div>
    </div>
  
  
</section>







        <div class="container">
          
          <ul class="cards">
            <li class="card">
              <div>
                <h3 class="card-title"> WHAT IS <b style="color:seagreen">EAZYDRAFT</b> ?</h3>
                <div class="card-content">
                  <img src="imgs/1.png" class="w-96 h-96 rounded-lg image-responsive" style="width:100px; height:100px;"
             alt="images"/>
                </div>
              </div>
              
            </li>
            <li class="card">
              <div>
                <p class="card-title">Lets say you want to enter an agreement with somebody or a contract to execute</p>
                <div class="card-content">
                  <img
                  src="imgs/Partnership-Hand-Shake-PNG-File.png"
                  class="w-96 h-96 rounded-lg image-responsive" style="width:100px; height:100px;"
                   alt="images"
                     />
                </div>
              </div>
           
            </li>
            <li class="card">
              <div>
                <p class="card-title">But you have no idea what the agreement should say or the terms of the agreement will be</p>
                <div class="card-content">
                  <img
                  src="imgs/Think-Idea-PNG-File.png"
                  class="w-96 h-96 rounded-lg image-responsive" style="width:100px; height:100px;"
                   alt="images"
                     />
                </div>
              </div>
             
            </li>
            <li class="card">
              <div>
                <h3 class="card-title">EAZYDRAFT <b>eazypeasy</b></h3>
                <div class="card-content">
                  <p>Think no further, EazyDraft provides simplified, concise templates for your contractual agreement. </p>
                </div>
              </div>
            
            </li>
            <li class="card">
              <div>
                <h3 class="card-title">HOW DOES <b style="color:seagreen">EAZYDRAFT</b> WORKS ?</h3>
                <div class="card-content">
                  <p>Fill in the information required of you in the contract</p>
                  
                  <img
                  src="imgs/pngwing.com (1).png"
                  class="w-96 h-96 rounded-lg image-responsive" style="width:100px; height:100px;"
                   alt="images"
                     />
                </div>
              </div>
             
            </li>
            <li class="card">
              <div>
                <h3 class="card-title">For Example, for an Employment Contract Template</h3>
                <div class="card-content">
                  <ul>
                    <li> Name of the Employer</li>
                    <li>Address of the Employer</li>
                    <li>Name of the Employee</li>
                  
                  </ul>
                </div>
              </div>
              
            </li>
            <li class="card">
              <div>
                <h3 class="card-title"></h3>
                <div class="card-content">
                  <ul>
                  <li> Address of the Employee</li>
                    <li> Employment Date and Period of Employment if contractual</li>
                    <li> and Many more..</li>
                    </ul>
                </div>
              </div>
            
            </li>
            <li class="card">
              <div>
                <h3 class="card-title">Then Download</h3>
                <div class="card-content">
                  <p> Your contract template is ready to be used</p>
                  <img
                  src="imgs/pngwing.com (2).png"
                  class="w-96 h-96 rounded-lg image-responsive" style="width:100px; height:100px;"
                   alt="images"
                     />
                </div>
                </div>
              </div>
             
            </li>
              
          </ul>
        </div>







       

